*.DS_Store
*~

*.pyc
*.pyo
*.orig
*.swp

*.conf
*.html.py
config/local_config.py
config/teleport_local_conf.py
/gunicorn_config_local.py
ci_cli_config.py
fileupload/local_filerc
gen_config/config.py
gen_config/bak/*

goarkservice
killarkservice
ark_service/server-py/ark_service_server/local_conf.py
ark_service/server-py/local_ark_service*.ini
ark_service/server-py/localserve
ark_service/server-py/tests/local_conf.py
ark_service/.svn/

tests/unittest_arkconfig.py
tests/unittest_shireconfig.py
teleport/tests/featuretest_arkconfig.py
teleport/tests/featuretest_shireconfig.py
teleport/docs/conf.py
teleport/docs/toc.rst.inc
teleport/docs/_build/
teleport/docs/static/
teleport/docs/_themes/
report/*
.coverage
tests/.coverage
chromedriver.log
.ropeproject/*

restart
goark

.statictmp/
node_modules/
bower_components/
public/js/component/
public/js/lib/

cartmanland/spvsr_generated.ini
cartmanland/spvsr_local.ini

search/article_index/
